 <div id="navbar">
   <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to new_cocktail_path do %>Make a Cocktail!<%end%></li>
          <li><%= link_to new_cocktail_path do %>Yeah! Make a Cocktail!<%end%></li>
          <li><%= link_to new_cocktail_path do %>I Said, Make a Cocktail!<%end%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
