<%= cl_image_tag("https://res.cloudinary.com/dcjfhbk0f/image/upload/v1542367838/acjv0dzx7gqq0jx2ovti.jpg",
      width: 400, height: 300, crop: :fill) %>
<h1>My list of cocktails</h1>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name , cocktail_path(cocktail[:id])%><%= link_to "🗑", cocktail_path(cocktail), method: :delete %>
</h2>
<% end %>
<br></br>
<%= link_to "Add a Cocktail", new_cocktail_path %>

